@font-face {
  font-family: "SF Pro Display Bold";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: "SF Pro Display Thin";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Thin.otf);
}

@font-face {
  font-family: "SF Pro Display Light";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Medium.otf);
}

html {
    height: 100%;
}
body {
  z-index: 3;
  height: 100;
  background: linear-gradient(170deg, #FFFFFF, #FFDDDD, #FF7373);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main_title {
  font-family: "SF Pro Display Medium";
  font-size: 64px;
  letter-spacing: 1.2px;
  margin-left: 40px;
  margin-top: 40px;
}

.pieimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.usernamebox {
  margin-left: 40px;
  padding:5px;
  border:2px solid #ccc;
  border-radius: 5px;
}
