@font-face {
  font-family: "SF Pro Display Bold";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
  font-family: "SF Pro Display Regular";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: "SF Pro Display Thin";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Thin.otf);
}

@font-face {
  font-family: "SF Pro Display Light";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Light.otf);
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url(https://matranc.github.io/assets/fonts/SF-Pro-Display-Medium.otf);
}

html {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.main_title {
  font-family: "SF Pro Display Bold";
  font-size: 64px;
  letter-spacing: -0.07px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 7px;
  color: #d13131;
  text-shadow: 0px 1px 10px white;
  display: inline-block;
}

.title_div {
  display: inline-block;
}

.beta_title_div {
  display: inline-block;
}

.beta_title {
  font-family: "SF Pro Display Regular";
  margin: 0;
}

.inputboxdiv {
  padding-left: 10px;
}

.usernamebox {
  padding:5px;
  border:2px solid rgba(235, 83, 54, 0.74);
  border-radius: 5px;
}

.daterangebox {
  padding:4px;
  border:2px solid rgba(235, 83, 54, 0.74);
  border-radius: 5px;
  background-color: white;
}

.artistloadlimitbox {
  padding:4px;
  border:2px solid rgba(235, 83, 54, 0.74);
  border-radius: 5px;
  background-color: white;
}

.submitbox {
  padding:5px;
  border:2px solid rgba(235, 83, 54, 0.74);
  border-radius: 5px;
  background-color: white;
}

.submitbox:hover {
  background-color: rgba(235, 83, 54, 0.14);
}

.usernameboxdiv {
  display: inline-block;
}

.daterangeboxdiv {
  display: inline-block;
}

.artistloadlimitboxdiv {
  display: inline-block;
}

.submitboxdiv {
  display: inline-block;
}

.infoText {
  font-family: "SF Pro Display Regular";
  font-size: 21px;
  padding-top: 10px;
  margin-left: -5%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

@media only screen and (max-width: 500px) {
.mainpiechart {
  width: 100vw;
  height: calc(75vh - 50px);
  margin: 0 auto;
  padding-left: 17%;
  padding-top: 2.5vh;
}

.main_title {
  margin: 0;
  font-size: 24px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 10px;
}

.beta_title {
  font-size: 15px;
}

.inputboxdiv {
  padding-left: 0px;
}

.infoText {
  font-size: 14px;
}

}

.mainpiechart {
  width: 100vw;
  height: calc(75vh - 50px);
  margin: 0 auto;
  padding-left: 17%;
  padding-top: 2.5vh;
}

.footer{
  width:100%;
  left: 0;
  position:fixed;
  bottom:0px;
  background-color: orange;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  font-family: "SF Pro Display Bold";
  font-size: 1.5vh;
  text-align: center;
}
