<!DOCTYPE html>
<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="content-type" content="text/html; charset=UTF-8"><link rel="stylesheet" type="text/css" href="static\css\style.css">
</head>

<body>
  <div class="title_div">
    <h1 class="main_title">last.charts</h1>
    <div class="beta_title_div">
      <h2 class="beta_title">beta</h2>
    </div>
  </div>

  <div class="inputboxdiv">
    <form method="post" action=".">
      <div class="usernameboxdiv">
        <input type="text" name="username" id="username" placeholder="last.fm username" class="usernamebox" autocomplete="on">
      </div>
      <div class="artistloadlimitboxdiv">
        <select id="artistloadlimitbox" name="artistloadlimit" class="artistloadlimitbox">
          <option value="1000">All Artists</option>
          <option value="10">Top 10 Artists</option>
          <option value="25">Top 25 Artists</option>
          <option value="50">Top 50 Artists</option>
          <option value="100">Top 100 Artists</option>
        </select>
      </div>
      <div class="daterangeboxdiv">
        <select id="daterangebox" name="daterange" class="daterangebox">
          <option value="7day">7 Days</option>
          <option value="1month">1 Month</option>
          <option value="3month">3 Months</option>
          <option value="6month">6 Months</option>
          <option value="12month">1 Year</option>
          <option value="overall">Overall</option>
        </select>
      </div>
      <div class="submitboxdiv">
        <input type="submit" value="Submit" class="submitbox">
      </div>
    </form>
  </div>

  <p id="infoText" class="infoText">{{ username }}'s top {{ top_artists_acceptablerange_proper }} artists {{ daterange_proper }}</p>

  <div id="chart">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
      var top_artists_rawarray = top_artists_rawarray
      var top_artists_playcount_rawarray = top_artists_playcount_rawarray

      var options = {
          series: [1,2],
          chart: {
              type: 'pie',
          },
          labels: ["he", "er"],
          responsive: [{
              breakpoint: 480,
              options: {
                  chart: {
                  },
                  legend: {
                      position: 'bottom'
                  }
              }
          }]
      };

      var chart = new ApexCharts(document.querySelector("#chart"), options);
      chart.render();
    </script>
  </div>

  <div class="bottombar">
    <div class="opensource_div">
      <img class="githubicon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/600px-Octicons-mark-github.svg.png" alt="githubicon">
      <a href="https://github.com/MatRanc/last.charts" class="opensource">This site is open-source; check it out!</a>
    </div>
    <div>
      <h1 class="bugswarning">THIS SITE IS IN BETA. PLEASE REPORT ANY BUGS TO mat#8595 ON DISCORD</h1>
    </div>
  </div>

</body></html>
