<!DOCTYPE html>
<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="content-type" content="text/html; charset=UTF-8"><link rel="stylesheet" type="text/css" href="static\css\style.css">

</head><body>
  <div class="title_div">
    <h1 class="main_title">last.charts</h1>
    <div class="beta_title_div">
      <h2 class="beta_title">beta</h2>
    </div>
  </div>

  <form method="post" action=".">
    <div class="usernameboxdiv">
      <input type="text" name="username" id="username" placeholder="last.fm username" class="usernamebox" autocomplete="on">
    </div>
    <div class="artistloadlimitboxdiv">
      <select id="artistloadlimitbox" name="artistloadlimit" class="artistloadlimitbox">
        <option value="1000">All Artists</option>
        <option value="10">Top 10 Artists</option>
        <option value="25">Top 25 Artists</option>
        <option value="50">Top 50 Artists</option>
        <option value="100">Top 100 Artists</option>
      </select>
    </div>
    <div class="daterangeboxdiv">
      <select id="daterangebox" name="daterange" class="daterangebox">
        <option value="7day">7 Days</option>
        <option value="1month">1 Month</option>
        <option value="3month">3 Months</option>
        <option value="6month">6 Months</option>
        <option value="12month">1 Year</option>
        <option value="overall">Overall</option>
      </select>
    </div>
    <div class="submitboxdiv">
      <input type="submit" value="Submit" class="submitbox">
    </div>
  </form>

  <p id="infoText" class="infoText">{{ username }}'s top {{ top_artists_acceptablerange_proper }} artists {{ daterange_proper }}</p>

  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var top_artists_rawarray = JSON.parse(('{{ top_artists_rawarray|safe }}'));
        var top_artists_playcount_rawarray = (JSON.parse('{{ top_artists_playcount_rawarray|safe }}')).map(Number);

        var data = new google.visualization.DataTable();
        data.addColumn("string", "top_artists_rawarray");
        data.addColumn("number", "top_artists_playcount_rawarray");

        for(i = 0; i < top_artists_rawarray.length; i++)
          data.addRow([top_artists_rawarray[i], top_artists_playcount_rawarray[i]]);

        var options = {
          title: 'Top Artists',
          pieHole:0,
          chartArea:{left:0,top:0,width:'100%',height:'100%'},
          backgroundColor: "transparent",
          colors: ['#e00d0d', '#f12929', '#e63e3e', '#ec6e6e', '#f4a0a0', '#f6b6b6']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" class="mainpiechart"></div>
  </body>

  <footer class="footer">THIS WEBSITE IS CURRENTLY IN EARLY ACCESS. PLEASE REPORT ANY BUGS TO mat#8595 ON DISCORD</footer>

</body></html>
